@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: DreamAvenue;
  src:url("../fonts/Dream-Avenue.ttf");
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* ---------------Hero Section---------------- */
h2.companyname{
  font-family: DreamAvenue, sans-serif;
  margin-top: .5em;
}

.herobg{

  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center center;
}

@media(max-width:450px){
  #slider ul li img{
    height: 30% !important;
  }
}


/* ---------------------------------
-------------About Us---------------------
-------------------------------- */
#about div#left{
  width: 70%;
}
#about img#right{
  width: 30%;
}
@media only screen and (max-width:900px) {
  #about img#right{
    content: url('../imgs/risingsm.jpg');
  }
}
/* ---------------------------------
-------------Features---------------------
-------------------------------- */

.cardsDiv{
  background-image: url('../imgs/herobg1.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#innerCardsDiv{
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.card{
  height: 50vh;
  background-size: cover;
  background-position: center center;
  padding: .75em;
}

.card:nth-child(1){
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(0, 0, 0, 0.1) 100%),url('../imgs/clubhouse.jpg');
}

.card:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(0, 0, 0, 0.1) 100%),url('../imgs/projectBg1.jpg');

}


.dropdown:hover .dropdown-menu {
  display: block;
}






.socialhide {
  display: none;
}
.socialhide:hover,
.socialbutton:hover + .socialhide {
  display: flex;
  height: 48px;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* color: red; */
  position: fixed;
  background: #ffc113;
  right: 65px;
  top: 39%;
  flex-direction: column;
  z-index: 999;
  border: 2px solid black;
}
@media(max-width:450px){
.slider{
height: 200px !important;
}
a.control_prev, a.control_next {
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  top: 25% !important;
}
a.control_next {
  right: 10%;
}
}
#slider {
  overflow: hidden;
  width: 100%;
}

#slider ul {
  list-style: none;
}

#slider ul li {
  height: 100%;
  width: 100vw;
  float: left;
}

#slider ul li img {
  height: 600px;
  width: 100vw;
} 

a.control_prev, a.control_next {
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  top: 40%;
}

a.control_prev:hover, a.control_next:hover {
  -webkit-transition: all 0.2s ease;
}

a.control_next {
  right: 5%;
}

/* Dot Indicators */
#s1 {
  padding: 6px;
  left: 50%;
  bottom: 25px;
  /* margin-left: -36px; */
  border-radius: 20px;
  z-index: 999;
}

#s2 {
  padding: 6px;
  left: 50%;
  bottom: 25px;
  /* margin-left: -12px; */
  border-radius: 20px;
  z-index: 999;
}

#s3 {
  padding: 6px;
  left: 50%;
  bottom: 25px;
  /* margin-left: 12px; */
  border-radius: 20px;
  z-index: 999;
}

#s4 {
  padding: 6px;
  left: 50%;
  bottom: 25px;
  /* margin-left: 36px; */
  border-radius: 20px;
  z-index: 999;
}

.active {
    background-color: #48BB78;
  opacity: 1;
}

#Slide1:checked + #s1 {
  background-color: #48BB78;
  opacity: 1;
}

#Slide2:checked + #s2 {
    background-color: #48BB78;
  opacity: 1;
}

#Slide3:checked + #s3 {
    background-color: #48BB78;
  opacity: 1;
}

#Slide4:checked + #s4 {
    background-color: #48BB78;
  opacity: 1;
}

