@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: DreamAvenue;
  src:url("../fonts/Dream-Avenue.ttf");
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* ---------------Hero Section---------------- */
h2.companyname{
  font-family: DreamAvenue, sans-serif;
  margin-top: .5em;
}

.herobg{
  /* background-image:linear-gradient(90deg, rgba(0,0,0,.85) 50%, rgba(255, 255, 255, 0.5) 100%),url('../imgs/herobg1.jpg') ; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center center;
}

.herobg img{
  width: 150px;
}


#slide1{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobg1.jpg');
}
#slide2{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobg2.jpg') ;
  
}
#slide3{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobg3.jpg') ;

}

@media only screen and (max-width:425px) {
  #slide1{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobgsm1.jpg');

  }
  #slide2{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobgsm2.jpg') ;
    
  }
  #slide3{
  background-image:linear-gradient(90deg,  rgba(0,0,0,.6) 100%,rgba(0, 0, 0, 0.5) 30%),url('../imgs/herobgsm3.jpg') ;
  }
}

/* ---------------------------------
-------------About Us---------------------
-------------------------------- */
#about div#left{
  width: 70%;
}
#about img#right{
  width: 30%;
}
@media only screen and (max-width:900px) {
  #about img#right{
    content: url('../imgs/risingsm.jpg');
  }
}
/* ---------------------------------
-------------Features---------------------
-------------------------------- */

.cardsDiv{
  background-image: url('../imgs/herobg1.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#innerCardsDiv{
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.card{
  height: 50vh;
  background-size: cover;
  background-position: center center;
  padding: .75em;
}

.card:nth-child(1){
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(0, 0, 0, 0.1) 100%),url('../imgs/clubhouse.jpg');
}

.card:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(0, 0, 0, 0.1) 100%),url('../imgs/projectBg1.jpg');

}


.dropdown:hover .dropdown-menu {
  display: block;
}






.socialhide {
  display: none;
}
.socialhide:hover,
.socialbutton:hover + .socialhide {
  display: flex;
  height: 48px;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* color: red; */
  position: fixed;
  background: #ffc113;
  right: 65px;
  top: 39%;
  flex-direction: column;
  z-index: 999;
  border: 2px solid black;
}
